<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>

<script type="text/javascript">
    function show_version() {
        var array = "<%= array %>";
        var array2 = [];
        for (var i = 0; i < array.length; i++) {
            if (!(i % 2)) {
                array2.push(array[i]);
            }
        }
        for (i = 0; i < array2.length; i++) {
            document.form_version.select_version.options[i] = new Option(array2[i], i);
        }
    }

    function show_channel() {
        var array = "<%= array %>";
        var array2 = [];
        for (var i = 0; i < array.length; i++) {
            if (!(i % 2)) {
                array2.push(array[i]);
            }
        }
        for (i = 0; i < array2.length; i++) {
            document.form_channel.select_channel.options[i] = new Option(array2[i], i);
        }
    }
</script>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">tools</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href=<%= link %> ><%= link_show %></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<tr>
    <td height="34"><p><span class="style1" style="font-weight:bold ">version</span></p>
    </td>
</tr>

<form name="form_version">
    <select name="select_version" id="select_version" onFocus="show_version()" onChange="change_version">
    </select>
    <label></label>
    <label></label>
</form>

<tr>
    <td height="34"><span class="style1" style="font-weight:bold ">channel</span></td>
</tr>
<form name="form_channel">
    <select name="select_channel" id="select_channel" onFocus="show_channel()">
    </select>
</form>

<tr>
    <td height="34"><p><span class="style1" style="font-weight:bold ">value</span></p>
    </td>
</tr>

<form name="form1" method="post" action="">
    <label>
        <input name="text_value" id="text_value"  type="text">
        <input type="submit" name="Submit" value="提交">
    </label>
</form>

<div id="container" class="container">
    <hr/>
    <footer>
        <p><a href="http://blog.chinaunix.net/uid/8625039.html" target="_blank">King Lee</a> 2014</p>
    </footer>
</div>

</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>
